streamlit>=1.40
python-dotenv
langchain>=0.3
langchain-community
langchain-core
langchain-text-splitters
langchain-groq
langchain-huggingface
langchain-chroma
chromadb
sentence-transformers
validators
beautifulsoup4
pypdf
python-docx
youtube-transcript-api>=1.0
yt-dlp
faster-whisper
